<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{../static/AfterFramework/amaze/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/html" th:href="@{../static/AfterFramework/amaze/amaze/css/amazeui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/index.css}" />
    <script th:src="@{../static/AfterFramework/amaze/jqurey/jquery-3.3.1.min.js}" rel="script"></script>
    <script th:src="@{../static/AfterFramework/amaze/bootstrap/js/bootstrap.min.js}" rel="script"></script>
    <script th:src="@{../static/AfterFramework/amaze/amaze/js/amazeui.min.js}" rel="script"></script>
    <script type="text/javascript">

        function register() {
            var username = $('#userName').val();
            var password = $('#password').val();

            var passwordAgin = $('#password-agin').val();

            if (password!==passwordAgin){

                alert("密码不一致");
                return false;
            }

        }




    </script>


</head>
<body>
<div class="container">
    <div class="body-login">
        <div class="logo-image">
            <img src="../static/Images/logo.jpg" height="100" width="100%" />
        </div>
        <div class="form-login">
            <form action="registerUser" method="post" onsubmit="return register()">
                <div class="form-group">
                    <label for="userName">用户名</label>
                    <input type="text" class="form-control" name="name" id="userName" placeholder="userName">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" name="pass" id="password" placeholder="password">
                </div>
                <div class="form-group">
                    <label for="password">再次输入密码</label>
                    <input type="password" class="form-control" name="pass-agin" id="password-agin" placeholder="password">
                </div>
                <div class="form-group">
                    <label for="rolesBy">角色</label>
                    <input class="form-control" type="text" name="roles" id="rolesBy" placeholder="shuRu">
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="btn btn-info" value="提交" type="submit" id="btn-form">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>







</body>
</html>
